<section class="todoapp">
		<header class="header">
			<h1>Todos</h1>
			<input type="text" class="new-todo" placeholder="What need to be done ?" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()" autofocus="autofocus">
		</header>
		<section class="main" *ngIf="todos.length > 0">
			<ul class="todo-list">
						<li *ngFor="let todo of todos" [class.completed]="todo.complete">
						<div class="view">
							<button>{{todo.id}}</button>
							<label>{{todo.title}}</label>
							<button class="destroy" (click)="removeTodo(todo)">x</button>

						</div>
						</li>
			</ul>
		</section>
		<footer class="footer" *ngIf="todos.length>0" >
				<span class="todo-count"> <strong>{{todos.length}}</strong>{{todos.length == 1 ? 'item':'items'}} left </span>
		</footer>

</section>
