body {
    background-color: lightblue;
}

h1{
    text-align: center;
    font-size: 35px;
}

.new-todo{
    align-items: center;
    width: 50%;
    padding: 12px 8px;
    margin: 8px 0;
    box-sizing: border-box;
        margin-left: 25%;
}


.destroy{
	    margin-right: 5px;
    float: right;
    margin-top: 13px;
}
.todo-list{
	list-style: none;
}

.view{
	    padding: 6px;
    font-weight: bold;
    font-size: 35px;
 }

ul{
	    margin-left: 25%;
	        width: 45%;
}

 li{
 	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
 }