<h1>
  {{appTitle}}
</h1>
<h3> First Item: {{value[0]|lowercase}}</h3>
<h3> Second Item: {{value[1]|uppercase}}</h3>
<h3> Third Item: {{value[2]|slice:1:2}}</h3>
<input [value]="number1" (input) = "number1 = $event.target.value" />
<input [value]="number2" (input) = "number2 = $event.target.value" />
<h4>  {{username}} </h4>
{{name}}
{{Status}}
<button (click) = "clicked()" >Ok</button>
<h5>Multiplier pipe:  {{number1 | Multiplier: number2 }}</h5>

<button (click)="clickMe()">{{clickMessage}}</button>

{{values}} 

<child-app></child-app>
